{% macro show_job(job) %}

<!-- templates/_marcos.html -->
<!-- show_job -->
<div class="card adjust-height">
    <header class="card-header">
      <p class="card-header-title">
        <a>{{ job['title'] }}</a>
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <p>
            <a>{{ job['employer_name'] }} <br>
                ${{ job['salary'] }} <br>
                {{ job['description'] }}
<br>

            </a>
        </p>
    </div>
    </div>
  </div>
  
  
{% endmacro %}